{% extends "base.html" %}

{% block title %}Tarefas{% endblock %}

{% block content %}

<div class="header">
    <h1>Minhas Tarefas</h1>
    <a href="{{ url_for('main.logout') }}" class="logout">Sair</a>
</div>

<form method="POST" action="/criar" class="form">
    <input name="titulo" placeholder="Título" required>
    <input name="descricao" placeholder="Descrição">
    <input name="prioridade" type="number" placeholder="Prioridade" required>
    <button type="submit">Adicionar</button>
</form>

<ul>
    {% for tarefa in tarefas %}
    <li class="{% if tarefa.status == 'concluida' %}done{% endif %}">

        <div class="task-info">
            <strong>{{ tarefa.titulo }}</strong>
            <small>{{ tarefa.descricao }}</small>
        </div>

        <div class="actions">
            {% if tarefa.status != "concluida" %}
                <a href="/concluir/{{ tarefa.id }}" class="btn concluir">✔ Concluir</a>
            {% endif %}
            <a href="/deletar/{{ tarefa.id }}" class="btn deletar">Excluir</a>
        </div>

    </li>
    {% endfor %}
</ul>

{% endblock %}