<!DOCTYPE html>
<html>
<head>
    <title>Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="container">
        <h1>Gerenciador de tarefas</h1>

        <form method="post" action="/criar">
            <input type="text" name="titulo" placeholder="Título" required>
            <input type="text" name="descricao" placeholder="Descrição">

            <select name="prioridade">
                <option value="1">Alta</option>
                <option value="2">Media</option>
                <option value="3">Baixa</option>
            </select>

            <button type="submit">Criar</button>
        </form>

        <hr>

        <h2>Lista de Tarefas</h2>
        <ul>
            {% for tarefa in tarefas %}

            <li class="{% if tarefa.status == 'concluida' %}done{% endif %}">
    
                <div>
                    <strong>{{ tarefa.titulo }}</strong><br>
                    <small>{{ tarefa.descricao }}</small>
                </div>

                <div class="actions">
                    <a href="/concluir/{{ tarefa.id }}" class="btn concluir">✔</a>
                    <a href="/deletar/{{ tarefa.id }}" class="btn deletar">✖</a>
                </div>

            </li>


            {% endfor %}
        </ul>
    </div>
</body>
</html>